---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import BentoGrid from '../components/BentoGrid.astro';
// import GlowingBackground from '../components/GlowingBackground.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <GlowingBackground /> -->
		<Header />
		<main>
			<BentoGrid />
		</main>
	</body>
</html>
